<a href="https://colab.research.google.com/github/Katlynn23/Project1/blob/main/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Katlynn Reed

In [1]:
import pandas as pd
import numpy
import sklearn
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import neighbors
from google.colab import drive
drive.mount('/content/drive')
car = pd.read_csv('/content/drive/MyDrive/CS167datasets/CarPricesProject1.csv')
car

Mounted at /content/drive

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3.0,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0
1,3.0,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0
2,1.0,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152.0,mpfi,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0
3,2.0,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109.0,mpfi,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0
4,2.0,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136.0,mpfi,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.0,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,141.0,mpfi,3.78,3.15,9.5,114.0,5400.0,23.0,28.0,16845.0
201,-1.0,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141.0,mpfi,3.78,3.15,8.7,160.0,5300.0,19.0,25.0,19045.0
202,-1.0,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,NaN,mpfi,3.58,2.87,8.8,134.0,5500.0,18.0,23.0,21485.0
203,-1.0,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,145.0,idi,3.01,3.40,23.0,106.0,4800.0,26.0,27.0,22470.0
204,-1.0,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141.0,mpfi,3.78,3.15,9.5,114.0,5400.0,19.0,25.0,22625.0

In [3]:
car['cylindernumber'].replace(["two","three","four","five","six","eight","twelve"],[2,3,4,5,6,8,12],inplace=True)
car['fueltype'].replace(['gas','diesel'],[0,1],inplace=True)
car['aspiration'].replace(['std','turbo'],[0,1],inplace=True)
car['doornumber'].replace(['two','four'],[0,1],inplace=True)
car['enginelocation'].replace(['front','rear'],[0,1],inplace=True)
car_dummy=pd.get_dummies(car,columns=['carbody','drivewheel','enginetype'])
car_dummy

,symboling,CarName,fueltype,aspiration,doornumber,enginelocation,wheelbase,carlength,carwidth,carheight,...,drivewheel_4wd,drivewheel_fwd,drivewheel_rwd,enginetype_dohc,enginetype_dohcv,enginetype_l,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor
0,3.0,alfa-romero giulia,0.0,0.0,0.0,0.0,88.6,168.8,64.1,48.8,...,0,0,1,1,0,0,0,0,0,0
1,3.0,alfa-romero stelvio,0.0,0.0,0.0,0.0,88.6,168.8,64.1,48.8,...,0,0,1,1,0,0,0,0,0,0
2,1.0,alfa-romero Quadrifoglio,0.0,0.0,0.0,0.0,94.5,171.2,65.5,52.4,...,0,0,1,0,0,0,0,0,1,0
3,2.0,audi 100 ls,0.0,0.0,1.0,0.0,99.8,176.6,66.2,NaN,...,0,1,0,0,0,0,1,0,0,0
4,2.0,audi 100ls,0.0,0.0,1.0,0.0,99.4,176.6,66.4,54.3,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.0,volvo 145e (sw),0.0,0.0,1.0,0.0,109.1,188.8,68.9,55.5,...,0,0,1,0,0,0,1,0,0,0
201,-1.0,volvo 144ea,0.0,1.0,1.0,0.0,109.1,188.8,68.8,55.5,...,0,0,1,0,0,0,1,0,0,0
202,-1.0,volvo 244dl,0.0,0.0,1.0,0.0,109.1,188.8,68.9,55.5,...,0,0,1,0,0,0,0,0,1,0
203,-1.0,volvo 246,1.0,1.0,1.0,0.0,109.1,188.8,68.9,55.5,...,0,0,1,0,0,0,1,0,0,0
204,-1.0,volvo 264gl,0.0,1.0,1.0,0.0,109.1,188.8,68.9,55.5,...,0,0,1,0,0,0,1,0,0,0

In [4]:
car.isna().any()

symboling           True
CarName             True
fueltype            True
aspiration          True
doornumber          True
carbody             True
drivewheel          True
enginelocation      True
wheelbase           True
carlength           True
carwidth            True
carheight           True
curbweight          True
enginetype          True
cylindernumber      True
enginesize          True
fuelsystem          True
boreratio           True
stroke              True
compressionratio    True
horsepower          True
peakrpm             True
citympg             True
highwaympg          True
price               True
dtype: bool

In [9]:
#Change all numerical values so you dont loose a large chunk of data
sym_mean= car['symboling'].mean()
car['symboling'].fillna(sym_mean, inplace=True)
type_mean= car['fueltype'].mean()
car['fueltype'].fillna(type_mean, inplace=True)
asp_mean= car['aspiration'].mean()
car['aspiration'].fillna(asp_mean, inplace=True)
doornum_mean= car['doornumber'].mean()
car['doornumber'].fillna(doornum_mean, inplace=True)
loc_mean= car['enginelocation'].mean()
car['enginelocation'].fillna(loc_mean, inplace=True)
wheelbase_mean= car['wheelbase'].mean()
car['wheelbase'].fillna(wheelbase_mean, inplace=True)
carlength_mean= car['carlength'].mean()
car['carlength'].fillna(carlength_mean, inplace=True)
carwidth_mean= car['carwidth'].mean()
car['carwidth'].fillna(carwidth_mean, inplace=True)
carheight_mean= car['carheight'].mean()
car['carheight'].fillna(carheight_mean, inplace=True)
curbweight_mean= car['curbweight'].mean()
car['curbweight'].fillna(curbweight_mean, inplace=True)
cyl_mean= car['cylindernumber'].mean()
car['cylindernumber'].fillna(cyl_mean, inplace=True)
enginesize_mean= car['enginesize'].mean()
car['enginesize'].fillna(enginesize_mean, inplace=True)
boreratio_mean= car['boreratio'].mean()
car['boreratio'].fillna(boreratio_mean, inplace=True)
stroke_mean= car['stroke'].mean()
car['stroke'].fillna(stroke_mean, inplace=True)
compressionratio_mean= car['compressionratio'].mean()
car['compressionratio'].fillna(compressionratio_mean, inplace=True)
horsepower_mean= car['horsepower'].mean()
car['horsepower'].fillna(horsepower_mean, inplace=True)
peakrpm_mean= car['peakrpm'].mean()
car['peakrpm'].fillna(peakrpm_mean, inplace=True)
citympg_mean= car['citympg'].mean()
car['citympg'].fillna(citympg_mean, inplace=True)
highwaympg_mean= car['highwaympg'].mean()
car['highwaympg'].fillna(highwaympg_mean, inplace=True)
price_mean= car['price'].mean()
car['price'].fillna(price_mean, inplace=True)
print('after:',car.isna().any())

after: symboling           False
CarName              True
fueltype            False
aspiration          False
doornumber          False
carbody              True
drivewheel           True
enginelocation      False
wheelbase           False
carlength           False
carwidth            False
carheight           False
curbweight          False
enginetype           True
cylindernumber      False
enginesize          False
fuelsystem           True
boreratio           False
stroke              False
compressionratio    False
horsepower          False
peakrpm             False
citympg             False
highwaympg          False
price               False
dtype: bool

,symboling,CarName,fueltype,aspiration,doornumber,enginelocation,wheelbase,carlength,carwidth,carheight,...,highwaympg,price,carbody_convertible,carbody_hardtop,carbody_hatchback,carbody_sedan,carbody_wagon,drivewheel_4wd,drivewheel_fwd,drivewheel_rwd
0,3.0,alfa-romero giulia,0.0,0.0,0.0,0.0,88.6,168.8,64.1,48.8,...,27.0,13495.0,1,0,0,0,0,0,0,1
1,3.0,alfa-romero stelvio,0.0,0.0,0.0,0.0,88.6,168.8,64.1,48.8,...,27.0,16500.0,1,0,0,0,0,0,0,1
2,1.0,alfa-romero Quadrifoglio,0.0,0.0,0.0,0.0,94.5,171.2,65.5,52.4,...,26.0,16500.0,0,0,1,0,0,0,0,1
3,2.0,audi 100 ls,0.0,0.0,1.0,0.0,99.8,176.6,66.2,NaN,...,30.0,13950.0,0,0,0,1,0,0,1,0
4,2.0,audi 100ls,0.0,0.0,1.0,0.0,99.4,176.6,66.4,54.3,...,22.0,17450.0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.0,volvo 145e (sw),0.0,0.0,1.0,0.0,109.1,188.8,68.9,55.5,...,28.0,16845.0,0,0,0,1,0,0,0,1
201,-1.0,volvo 144ea,0.0,1.0,1.0,0.0,109.1,188.8,68.8,55.5,...,25.0,19045.0,0,0,0,1,0,0,0,1
202,-1.0,volvo 244dl,0.0,0.0,1.0,0.0,109.1,188.8,68.9,55.5,...,23.0,21485.0,0,0,0,1,0,0,0,1
203,-1.0,volvo 246,1.0,1.0,1.0,0.0,109.1,188.8,68.9,55.5,...,27.0,22470.0,0,0,0,1,0,0,0,1
204,-1.0,volvo 264gl,0.0,1.0,1.0,0.0,109.1,188.8,68.9,55.5,...,25.0,22625.0,0,0,0,1,0,0,0,1